.wrapper {
  padding: 1em 5em 0;
  text-align: center;
  //height: calc(100vh - 136px);
}

.text-wrapper {
  flex-grow: 1;
}

.image-wrapper {
  width: 100%;
  height: 17em;
  text-align: center;
  flex-shrink: 0;
}

.resize {
  max-height: 100%
}

.example {
  font-style: italic;

  h1 {
    font-size: 14px;
  }

  p {
   font-size: 12px;
  }
}
