<div class="wrapper">
  <section>
    <p>Pig Latin is a language game popular with children.</p>
  </section>
  <section>
    <h1>How to play</h1>
    <p>Take the first cluster of consonants of a word,
      move it to the end of the word and suffix it with "ay".</p>
    <p>If a word begins with a vowel then just suffix it with "way".</p>
  </section>


  <section class="example">
    <h1>Example</h1>
    <p>Pig is igpay</p>
    <p>Owl is owlway</p>
  </section>

  <div class="image-wrapper">
    <img src="../../assets/piggy.png" class="resize" alt="Pig image">
  </div>
</div>

