<div class="wrapper">
  <div class="flex-row translation-container">
    <div class="translation-item-container">
      <p class="text-align-center">{{translateFrom}}</p>
      <div id="translateFrom" class="flex-row translation-item">
        <div class="textarea-container">
          <textarea autofocus #input></textarea>
        </div>

        <div class="icons-container">
          <!--<mat-icon (click)="translate(input.value)">arrow_forward</mat-icon>-->
          <button mat-icon-button [disabled]="!translatedValue" color="accent">
            <mat-icon (click)="input.value=null;translatedValue=null">cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="gutter">

        <button mat-icon-button>
          <mat-icon (click)="switchLanguage()">swap_horiz</mat-icon>
        </button>


    </div>

    <div class="translation-item-container">
      <p class="text-align-center">{{translateTo}}</p>

      <div id="translation" class="translation-item">
        <span disabled>{{translatedValue}}</span>
      </div>
    </div>
  </div>

  <div class="image-wrapper">
    <img src="../../assets/piggy.png" class="resize" alt="Pig image">
  </div>
</div>



