.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  height: calc(100vh - 144px);
}

.translation-container {
  flex-grow: 1;
}

.translation-item-container {
  width: 50%;
}

.flex-row {
  display: flex;
}

.gutter {
  width: 2em;
}

.row-gutter {
  height: 1em;
  flex-grow: 1;
}

.translation-item {
  height: 7em;
  border: 1px solid pink;
  padding: 1em;
  word-wrap: break-word;
}

.icons-container {
  flex-shrink: 0;
}

.textarea-container {
  flex-shrink: 0;
  flex-grow: 1;
}

textarea {
  height: 100%;
  width: 95%;
  border: none;
  padding: 0.5em 0;
  resize: none;
  font-size: 1em;

  &:focus {
    outline: none;
  }
}

.image-wrapper {
  height: 17em;
  text-align: center;
  flex-shrink: 0;
}

.resize {
  max-height: 100%
}
// TODO:
/*
* Pick fonts done
* Toolbar. Menu active, hover done
* About pg done
* Lookup flex box! done
* Flex the image to be at bottom of content. done
* Style Translator pg done
* Learn about how to work with images
* Background color, font color, letter spacing, font size done
* How to style angular components done
* Measure performance, load time, paint etc.
* Use rxjs stream to watch input, translate with some debounce done

* Implement switching languages - partly done. States of variables
inputString, translatedValue are not managed properly.
Use streams for those too????????
InputString$ is only triggered by input.keyup. When switching
languages, I switch inputString and translatedValue, which doesn't
trigger translation. Ah, but its ok because it shouldn't translate
to piglatin again, so the piglatin to english is ok
Have to implement piglatin to english!!!!
* Should I use reactive form?
* Add a footer
* Make responsive. For small screen put the input and display as column. use
different icon direction for switching languages.
*
*/
