:host {
  display: block;
  height: 100%;
}

.wrapper {
  display: flex;
  padding: 30px 50px 0px;
}

.flex-row {
  display: flex;
}

.flex-item {
  height: 7em;
  border: 1px solid pink;
  padding: 1em;
  word-wrap: break-word;
}

textarea {
  border: none;
  padding: 0;
  resize: none;
  font-size: 1em;

  &:focus {
    outline: none;
  }
}

// TODO:
/*
1. Pick fonts
2. layout menubar and main content. Lookup flex box!
Flex the image to be at bottom of content. Add a footer
3. About pg done
4. Translator pg
5. Learn about how to work with images
6. background color, font color, letter spacing, font size,
7. Menu active, hover
8. How to style components
9. Learn about height and width for divs, components
10. Measure performance, load time, paint etc.
*/
