<div class="wrapper">
  <div>
    <p>English</p>
    <div id="english" class="flex-row flex-item">
      <div>
        <textarea type="text" #input (keyup.enter)="onTranslate(input.value)"></textarea>
      </div>

      <div>
        <mat-icon (click)="onTranslate(input.value)">arrow_forward</mat-icon>
        <mat-icon (click)="input.value=null;piglatin=null">clear</mat-icon>
      </div>
    </div>
  </div>

<div>
  <p>Pig Latin</p>

  <div id="piglatin" class="flex-item">
    <span disabled class="piglatin">{{piglatin}}</span>
  </div>
</div>


</div>


