:host {
  display: block;
  height: 100%;
}

//.routed-content {
//  height: 100%;
//  background-image: url("../../assets/piggy.png");
//  background-repeat: no-repeat;
//}

.fill-remaining-space {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  .mat-list-item {
    padding: 0 0.5em;

    &:hover {
      background: saddlebrown;
    }
  }
}

//.mat-list-item.active {
//  color: saddlebrown;
//}
//
//.mat-list-item:hover {
//  color: inherit;
//}
