.navigation-container {
  display: flex;
  flex-direction: column;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  .mat-list-item {
    padding: 0 0.5em;

    &:hover {
      background: saddlebrown;
    }
  }
}

.router-container {
  flex-grow: 1;
}

.logo-continer {
  margin-left: 0.5em;
  height: 2em;
}

.logo {
  max-height: 100%;
}
